.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* shared style */
  .textprim{
    color: #FD6E0A;
  }

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.navtit{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style:none ;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark2{
    color: #474747;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.section-des{
    font-size: 18px;
    color: #757575;
}
.scnd-bg{
    background-color:#FFF8F3;
}
.btnprim{
    background-color: #FD6E0A;
    font-weight:bold ;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
/* banner styles */
.bnrgreet{
 font-weight: 600;
 font-size: 45px;
 margin-bottom: 5px;

}
.bnrtit{
    font-weight: bold;
font-size: 85px;
margin-bottom: 20px;
position: 230px 363px;
}
.bnrdes{
    font-size: 18px;
    font-weight: 100px;
    color: #757575;
    line-height: 30px;
    
}
.bnrpropic{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.bnrc{
    max-width: 585px;
    margin: 0;

}

/* header style */
.head{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    letter-spacing: 33%;
    height: auto;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;

}
.itemdes{
    font-weight: 600;
}
.aboutitems{
    display: flex;
    justify-content: space-around;
}
.sectitle{
    text-align: center;
}
.secdes{
    text-align: center;
}
/* skill section style */
.skillcont{
    display:flex ;
    gap: 24px;
    margin-bottom: 130px;

}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 267px;
    border-radius: 5px;
    /* margin-top: 130px; */
    /* main section a margintop deya ase ekbare */
}